*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: lightgoldenrodyellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header{
    padding: 10px;
    text-align: center;
    background: #fcf399;
    color: goldenrod;
    font-size: 30px;
    height: 150px;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    
}
.contenido-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 90px;
    background-color: rgba(250, 248, 248, 0.922);
}
.usuario{
    width: 290px;
    border: 2px solid black;
    height: 490px;
    margin-top: 20px;
}
h3{
    background-color: rgb(175, 169, 169);
    display: grid;
    text-align: center;
    border-bottom: 2px solid black;
    height: 50px;
    padding: 10px;
}
.fotousuario{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid gray;
    display: inline-block;
    padding: 3px;
    border: 3px solid blueviolet;
    margin-top: 20px;
    margin-right: 57px;
    margin-left: 57px;
    margin-bottom: 20px;
    

}
.nombreusuario{
    text-align: center;
    border: 2px solid black;
    color: blueviolet;
    padding: 6px;
    background-color: aliceblue;
}
.botonesusuario{
    width: 100%;
    text-align: center;
}
.botonusuario{
    margin: 1em;
    background-color: #fcf399;
    color: black;
    padding: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border: 3px black solid;
    font-weight: bold;
}
.botonusuario:hover{
    background-color: rgb(251, 251, 251);
    border: blueviolet 3px solid;
    color: black;
    cursor: pointer;
}
.columna{
    display: grid;
    grid-template-columns: 450px 450px;

}
.fila{
    display: grid;
    grid-template-rows: 20px 20px 20px 20px 20px;
    margin: 1em;
}

.QR img{
    width: 100px;
    height: 100px;
}
.botonqr{
    background-color: #f3e873;
    width: 200px;
    height: 50px;
    margin-top: 25px;
    border: black 5px solid;
    color: black;
    font-weight: bold;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
a{
    text-decoration: none ;
}
.tab-content .tab-pane{
    display: none;

}
.tab-content .tab-pane:first-child{
    display: block;
}
.tab-list{
    display: flex;
    grid-gap: 110px;
    padding-left: 260px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 220px;
}
.tab-link{
    border: goldenrod 4px ridge;
    border-radius: 30%;
    padding: 13px;
    background-color:khaki;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color:rgb(134, 134, 176);
}
.tab-link:hover{
    background-color: darkkhaki;
    cursor: pointer;
    color: whitesmoke;
}
.tab-content{
    text-align: center;
    padding-top: 20px;
    background-color: rgb(191, 191, 238);
    height: 60px;
    border: 3px black double;
}
.tab-component{
    border: 2px solid black;
}
ul{
    list-style: none;
}
.botonqr:hover{
    background-color: white;
}
.tab-list,a{
    border: solid 2px black;
}
.botonimgdesc{
    padding: 4px;
    color: white;
    background-color: rgb(163, 159, 159) ;
    border: solid 2px black;
}
.botonenviar{
    background-color: white;
    color: black;
    padding: 4px;
}
.botonenviar:hover{
    background-color: black;
    color: white;
}
.tab-list a:focus{
    background-color: whitesmoke;
}

@media(max-width:500px){
    .fila{
        grid-template-rows: 1fr 1fr;
    }
}
